@import "tailwindcss";


#root {
  width:100%;
  height:auto;
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: 'Optiwtcgoudy';
  src: url('./assets/fonts/Optiwtcgoudy-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}